body {
  margin: 0;
  padding: 0;
    font-family: 'Century Gothic', sans-serif;
    background-color: #7da4e3;    
}
canvas {
   outline: black 3px solid;
 }

 .content {
  position: absolute;
  left: 25%;
  background-color: #f5f5f5;
  width: 50%;
  height: auto;
  align-items: center;
  padding: 10px;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
}

.gap{
  margin-bottom: 25px;
  border-bottom: 2px solid #7da4e3;
}

.gap2{
  margin-bottom: 25px;
}


button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* Style your button */
.my-button {
  background-color: #7da4e3; /* Green */
  color: white;
  padding: 10px 20px; /* Add padding for a better look */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border: 2px solid #7da4e3; /* Add a border to the button */
  transition: background-color 0.3s; /* Add a smooth color transition */
}

.my-button:hover {
  background-color: #5f7eaf;
}

.container {
  display: flex;
  align-items: left;
}

.text {
  flex: 1; 
  margin-right: 20px; 
  margin-left: 0; 
}

.image {
  flex: 0;
  margin-top: 0px;
}

.collapsible-content {
  display: none;
}

.collapse-button {
  background-color: #7da4e3;
  color: white;
  padding: 10px 20px; /* Add padding for a better look */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border: 2px solid #7da4e3; /* Add a border to the button */
  transition: background-color 0.3s; /* Add a smooth color transition */
}

.collapse-button:hover {
  background-color: #5f7eaf;
}